<section class="flex h-4/5 justify-center content-center flex-wrap">
    <div class="card h-3/5 w-3/5 glass shadow-2xl bg-ashGray text-OffBlack">
        <section>
            <div class="card-body inline-flex w-full">
                <div class="avatar">
                    <div class="w-[6rem] rounded-full shadow-xl">
                        <img src="https://picsum.photos/200" />
                    </div>
                    <h2 class="card-title border-b-2 text-3xl border-AliceBlue pl-3 w-full font-bold text-OffBlack">{{name}}</h2>
                </div>

            </div>
        </section>
        <section>
            <p class="pl-5 my-3 font-semibold">Username: {{name}}</p>
            <p class="pl-5 my-3 font-semibold">Email: {{email}}</p>
        </section>
        <div class="card-actions h-[28rem] content-end justify-end p-4 ">
            <button onclick="my_modal_5.showModal()" class="btn bg-green shadow-lg hover:bg-darkGreen hover:border-green font-bold border-darkGreen">New Post</button>
            <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle ">
                <div class="modal-box h-[59rem] w-5/6 bg-ashGray glass">
                    <form class="card-body bg-ashGray glass h-[45rem] new-blog-form">
                        <div class="form-control">
                            <label for="login-email" class="label">
                                <span class="label-text font-bold text-OffBlack">Title</span>
                            </label>
                            <input type="text" placeholder="Title" class="input input-bordered w-[26rem] my-3 font-bold text-OffBlack" id="Blog-title" />
                        </div>
                        <div class="form-control">
                            <label for="login-password" class="label mt-6">
                                <span class="label-text font-bold text-OffBlack">Summary</span>
                            </label>
                            <input type="text" placeholder="Summary" class="input input-bordered w-[26rem] my-3 font-bold text-OffBlack" id="blog-desc" />
                        </div>
                        <div class="form-control">
                            <label for="login-password" class="label mt-6">
                                <span class="label-text font-bold text-OffBlack">Post</span>
                            </label>
                            <textarea class="textarea textarea-bordered w-[26rem] h-[20rem] font-bold text-OffBlack my-3 resize-none" placeholder="Post Body" id="blog-body"></textarea>
                        </div>
                        <div class="form-control mt-11">
                            <button class="btn bg-green shadow-lg hover:bg-darkGreen hover:border-green font-bold border-darkGreen new-blog-form" type="submit">Submit</button>
                        </div>
                    </form>
                    <div class="modal-action">
                        <form method="dialog">
                            <!-- if there is a button in form, it will close the modal -->
                            <button class="btn bg-columbiaBlue hover:bg-columbiaBlue hover:scale-105 cursor-pointer text-OffBlack">Close</button>
                        </form>
                    </div>
                </div>
            </dialog>
            <button class="btn bg-red shadow-lg hover:bg-darkRed hover:border-red font-bold border-darkRed">Delete Profile</button>
        </div>
    </div>
</section>

{{#if blogPosts.length}}
    <div class="col-md-6 blog-list">

        {{#each blogPosts as |blog| }}
        <section class="flex w-full justify-center align-middle py-3">
            <div class="card w-4/5 bg-ashGray shadow-xl">
                <div class="card-body">
                    <div class="content-center justify-between items-center flex-wrap inline-flex border-b-2 border-AliceBlue">
                        <h2 class="card-title text-3xl pb-2 text-OffBlack">{{title}}</h2>
                        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">
                            <span data-id="{{blog.id}}">
                                <i class="fa-solid fa-trash hover:scale-150 hover:cursor-pointer" style="color: #e73636;" data-id="{{blog.id}}"></i>
                            </span>
                        </button>
                    </div>
                    <p class="mb-4 text-lg font-normal text-OffBlack">{{description}}</p>
                    <div class="card-actions justify-end content-between items-end">
                        <p class="text-lg font-normal text-OffBlack">Created By: {{user.name}} on {{format_date date_created}}
                        </p>
                        <a href="/post/{{blog.id}}" class="btn bg-columbiaBlue hover:bg-myrtleGreen hover:scale-105 cursor-pointer text-OffBlack">READ MORE <i class="fa-solid fa-angles-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
        {{/each}}
    </div>
{{/if}}
<script src="./js/profile.js"></script>